@media (max-width: 1700px) {
  .button-wrapper {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 1400px) {
  .search-bar-wrapper {
    margin-bottom: 30px;
  }
  .add-component button {
    justify-self: start;
    margin-top: 20px;
  }
}
@media (max-width: 1200px) {
  .inlet-conditions .col-12.col-lg-2.col-2xl-1 {
    margin-top: -10px;
    margin-bottom: -27px;
  }
  .gas-characteristics {
    margin-top: 20px;
  }
  .gas-buttons-right button {
    justify-self: left;
  }

  .gas-buttons-right {
    margin-top: 20px;
  }

  .gas-components-wrapper {
    padding: 30px;
  }

  .inlet-conditions {
    padding: 30px;
  }
}
@media (max-width: 1200px) {
  .full-page-wrapper {
    padding: 0;
    margin: 0 50px;
  }
  .sticky-controls {
    margin-right: -35px;
  }
}
@media (max-width: 992px) {
  .inlet-conditions .col-12.col-lg-2.col-2xl-1 {
    border-left: 0;
  }
  .sticky-controls {
    margin-right: 0;
  }
  .full-page-wrapper {
    padding: 0;
    margin: 0;
  }
  .inlet-conditions > .row.w-100 {
    flex-direction: column-reverse;
  }
}
@media (max-width: 992px) {
  .col-12.col-lg-2.col-2xl-1 .add-refresh__btn {
    flex-direction: row !important;
    width: 100% !important;
  }
  .col-12.col-lg-2.col-2xl-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .sticky-controls {
    position: relative;
  }
  .inlet-conditions .col-12.col-lg-2.col-2xl-1 {
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
  }
}
@media (max-width: 768px) {
  .button-right button {
    justify-self: start;
    margin-top: 20px;
  }

  .calculated-table-buttons-right.d-flex {
    justify-content: start;
    margin-top: 20px;
  }

  .calculated-table-buttons-left {
    flex-direction: column;
  }

  .calculated-properties-buttons.mt-4 {
    margin-left: 0;
  }

  .gas-composition-buttons,
  .calculated-properties-buttons {
    margin-left: 0;
  }

  .gas-buttons-left.d-flex {
    flex-direction: column;
  }

  .gas-buttons-left.d-flex button {
    justify-content: center;
  }

  .gas-buttons-right button {
    width: 100%;
    justify-content: center;
  }

  .select-gas-components table th,
  .select-gas-components table td {
    min-width: 110px;
  }
  .select-gas-components table td:first-child,
  .select-gas-components table th:first-child {
    min-width: 48px !important;
  }

  body.main-body {
    background: none;
  }
  .gas-composition-table td,
  .inlet-conditions td {
    min-width: 100px;
    max-width: 100px;
  }
  section.inlet-conditions-section .inlet-conditions tr td:nth-child(2) {
    min-width: 150px;
    text-align: left;
    max-width: 150px;
  }
  section.inlet-conditions-section th:nth-child(2) {
    text-align: left;
    font-size: 18px;
    width: 150px;
  }
  .project-properties-table th:nth-child(3),
  .project-properties-table td:nth-child(3),
  .calculated-properties-table th:nth-child(3),
  .calculated-properties-table td:nth-child(3),
  .gas-composition-table th:nth-child(3),
  .gas-composition-table td:nth-child(3) {
    left: 190px;
    z-index: 3;
  }
  .inlet-conditions > .row.w-100 {
    flex-direction: column-reverse;
  }
  .inlet-conditions .overflow-x-hidden {
    margin-left: -40px;
  }
  .project-properties-table th:nth-child(2),
  .project-properties-table td:nth-child(2),
  .calculated-properties-table th:nth-child(2),
  .calculated-properties-table td:nth-child(2),
  .gas-composition-table th:nth-child(2),
  .gas-composition-table td:nth-child(2) {
    left: 40px;
    z-index: 3;
  }
  .gc-buttons-wrapper {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .col-12.col-lg-2.col-2xl-1 {
    flex-direction: column;
  }
}

@media (max-width: 475px) {
  .project-properties-table th:first-child,
  .project-properties-table th:nth-child(2),
  .project-properties-table th:nth-child(3),
  .project-properties-table td:first-child,
  .project-properties-table td:nth-child(2),
  .project-properties-table td:nth-child(3),
  .calculated-properties-table th:first-child,
  .calculated-properties-table th:nth-child(2),
  .calculated-properties-table th:nth-child(3),
  .calculated-properties-table td:first-child,
  .calculated-properties-table td:nth-child(2),
  .calculated-properties-table td:nth-child(3),
  .gas-composition-table th:first-child,
  .gas-composition-table th:nth-child(2),
  .gas-composition-table th:nth-child(3),
  .gas-composition-table td:first-child,
  .gas-composition-table td:nth-child(2),
  .gas-composition-table td:nth-child(3) {
    position: relative;
    left: 0;
    background-color: #fff;
    z-index: 2;
  }
  .inlet-conditions .overflow-x-hidden {
    margin-left: 0;
  }
  .project-properties-table,
  .gas-composition-table {
    margin-left: -10px;
  }
  .gc-buttons-wrapper {
    flex-direction: column;
  }
  .calculated-properties-table {
    margin-left: -10px;
  }
}

@media (max-width: 425px) {
  .col-12.col-lg-2.col-2xl-1 .add-refresh__btn {
    flex-direction: column !important;
  }
  .col-12.col-lg-2.col-2xl-1 {
    flex-direction: column;
  }
  .col-12.col-lg-2.col-2xl-1 .table-nav__btn button {
    width: 100% !important;
  }
}
